<div class="container">
    <header class="main-header">
      <h1>Bienvenidos al Workshop</h1>
      <p class="subtitle">
        En el reino del desarrollo web, Angular reina con poderío, como los dragones de Daenerys.
        Aprender Angular es como forjar acero valyrio: requiere dedicación, pero otorga un poder inigualable para construir aplicaciones robustas y escalables.
        Domina los componentes como si fueran tus casas nobles, los servicios como tus consejeros de confianza, y el enrutamiento como los caminos del rey.
        Prepárate para conquistar el trono del frontend!
      </p>
    </header>
    <main class="main-content">
        <section class="card">
          <h2>El Invierno se Acerca (y con él, la demanda de desarrolladores Angular)</h2>
          <p>
            En el cambiante mundo del desarrollo web, la demanda de expertos en Angular se intensifica, como la larga noche que se avecina.
            Aprende Angular y conviértete en un valioso aliado en la batalla por construir aplicaciones modernas y eficientes.
          </p>
        </section>
        <section class="card">
          <h2>Forja tu Espada de Código con Angular</h2>
          <p>
            Cada línea de código que escribes en Angular es como un golpe de espada en la forja.
            Con cada nuevo componente, directiva o servicio que dominas, te acercas más a convertirte en un verdadero maestro del código.
          </p>
        </section>
    </main>
    <footer class="main-footer">
        <p>&copy; Workshop Angular - Inspirado en Game of Thrones</p>
    </footer>
  </div>