@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');

.ngx-pagination {
  background: rgb(8,184,245);
  background: linear-gradient(90deg, rgba(8,184,245,1) 0%, rgba(59,134,173,1) 100%);
  padding: 1rem;
  border-radius: 1rem;
}

.ngx-pagination li a {
  border-radius: .2rem;
}

.ngx-pagination .current {
  background-color: white !important;
  color: black !important;
  border-radius: .2rem;
}

.ngx-pagination .disabled {
  color: rgba(255, 255, 255, 0.7) !important;
}

.ngx-pagination a, .ngx-pagination button {
  color: white !important;
}

.ngx-pagination a:hover, .ngx-pagination button:hover {
  background-color: rgba(255, 255, 255, 0.24) !important;
}

@layer components {
  .about-box {
    @apply dark:border-2 rounded-xl p-6 flex gap-4 border-[#212425];
  }
  .after-effect {
    @apply text-7xl font-bold font-robotoSlab inline-block relative after:absolute  transform after:-translate-y-[50%] after:bg-gradient-to-r from-[#FA5252] to-[#DD2476] after:h-0.5 after:rounded-md after:content-[""] md:after:w-48  after:top-[50%] dark:text-white;
  }
  .resume-btn {
    @apply bg-[#EDF2F2] cursor-default px-5 py-2 rounded-lg  text-white dark:bg-[#1C1C1C] dark:text-[#A6A6A6] hover:text-[#FA5252] hover:bg-gradient-to-r from-[#FA5252] to-[#DD2476];
  }
  .socialbtn {
    @apply w-10 h-10 rounded-lg hover:bg-gradient-to-r from-[#FA5252] to-[#DD2476]  flex justify-center items-center  hover:text-white transition-colors duration-300  ease-in-out bg-[#F3F6F6] dark:bg-[#212425];
  }
  .fillter-btn {
    @apply text-gray-lite dark:text-[#A6A6A6] hover:text-[#FA5252] transition duration-300 cursor-pointer  ;
  }
  .dark-light-btn{
    @apply bg-white dark:bg-[#4d4d4d] dark:text-white w-[40px] h-[40px] lg:w-[50px] lg:h-[50px] rounded-full flex justify-center items-center hover:bg-[#ef4060] dark:hover:bg-[#ef4060] text-black hover:text-white dark:hover:text-white transition-all duration-300 ease-in-out cursor-pointer;
  }
  .menu-active{
    @apply w-20 h-20 rounded-[10px] cursor-pointer font-poppins bg-[#F3F6F6] font-medium text-xtiny mx-2.5 text-gray-lite dark:text-[#A6A6A6] justify-center flex flex-col items-center lg:text-white lg:dark:text-white lg:bg-gradient-to-r from-[#FA5252] to-[#DD2476] transition-all duration-300 ease-in-out dark:hover:text-white dark:bg-[#212425] hover:text-white hover:bg-gradient-to-r from-[#FA5252] to-[#DD2476];

  }
  .menu-item{
@apply w-20 h-20 rounded-[10px] cursor-pointer font-poppins bg-[#F3F6F6] font-medium mx-2.5 text-xtiny text-gray-lite dark:text-[#A6A6A6] justify-center flex flex-col items-center transition-all duration-300 ease-in-out dark:hover:text-white dark:bg-[#212425] hover:text-white hover:bg-gradient-to-r from-[#FA5252] to-[#DD2476];
  }
  .dowanload-btn{
    @apply flex items-center mx-auto bg-gradient-to-r from-[#FA5252] to-[#DD2476] duration-200 transition ease-linear hover:bg-gradient-to-l from-[#DD2476] to-[#fa5252ef] px-8 py-3 text-lg text-white rounded-[35px] mt-6;
  }
  .menu-toggle-btn{
    @apply bg-white ml-3 lg:hidden w-[40px] h-[40px] lg:w-[50px] rounded-full flex justify-center items-center hover:bg-[#ef4060] text-black hover:text-white transition-all duration-300 ease-in-out cursor-pointer;

  }
  .modal-container{
    @apply  w-full hidden md:w-10/12 flex items-center lg:w-[850px] bg-white dark:bg-[#323232] mx-auto rounded-xl p-4 md:p-8 absolute left-1/2 top-1/2 transform -translate-x-[50%] -translate-y-[50%] shadow-lg;
  }
  .dot-icon{
    @apply pl-6 relative after:absolute after:h-1 after:w-1 after:bg-gray-lite after:rounded-full after:left-2 after:top-[50%] transform after:-translate-y-1/2;
  }
  .comment-btn{
    @apply flex items-center bg-gradient-to-r from-[#FA5252] to-[#DD2476] duration-200 transition ease-linear hover:bg-gradient-to-l from-[#DD2476] to-[#fa5252ef] px-8 py-[12px] text-lg text-white rounded-[35px] mt-8;
  }
  .section-bg{
    @apply container w-full bg-[#F3F6F6] dark:bg-black lg:bg-transparent lg:dark:bg-transparent flex justify-between py-5 lg:px-0 lg:pt-[50px];
  }
  .preview-img{
    @apply text-center w-full mx-auto shadow-zinc-400 rounded-[12px] border-4 border-slate-800 border-solid duration-500 transition hover:border-slate-500;
  }
  .menu-item-two-active{
    @apply text-black  dark:text-black bg-gradient-to-r from-[#FFE79B] to-[#edc851] rounded-md cursor-pointer font-poppins bg-black  font-medium mx-2.5 flex text-xtiny py-2.5 md:px-4 xl:px-5 items-center transition-all duration-300 ease-in-out dark:hover:text-black dark:bg-[#212425] hover:text-black hover:bg-gradient-to-r from-[#FFE79B] to-[#edc851]  ;
  }
  .menu-item-two{
    @apply rounded-md cursor-pointer font-poppins bg-black text-black font-medium mx-2.5 flex text-xtiny py-2.5 md:px-4 xl:px-5 items-center transition-all duration-300 ease-in-out dark:hover:text-black dark:bg-[#c97a0c] hover:text-black hover:bg-gradient-to-r from-[#f2991d] to-[#edc851] dark:text-white ;
  }
  .mobile-menu-items{
    @apply pl-4 cursor-pointer transition-colors duration-300 ease-in-out font-poppins text-gray-lite font-medium flex text-xtiny py-2.5 md:px-4 xl:px-5 items-center dark:text-white dark:hover:text-[#FA5252] hover:text-[#FA5252];
  }
  .mobile-menu-items-active{
    @apply pl-4 cursor-pointer transition-colors duration-300 ease-in-out font-poppins  font-medium flex text-xtiny py-2.5 md:px-4 xl:px-5 items-center dark:text-[#FA5252] text-[#FA5252]  dark:hover:text-[#FA5252] hover:text-[#FA5252];
  }

  .filter-active{
    @apply text-white  dark:text-white bg-gradient-to-r from-[#FFE79B] to-[#edc851] rounded-md cursor-pointer font-poppins bg-black  font-medium mx-2.5 flex text-xtiny py-2.5 md:px-4 xl:px-5 items-center transition-all duration-300 ease-in-out dark:hover:text-white dark:bg-[#212425] hover:text-white hover:bg-gradient-to-r from-[#FFE79B] to-[#edc851]  ;
  }
  .filter{
    @apply rounded-md cursor-pointer font-poppins bg-black text-black font-medium mx-2.5 flex text-xtiny py-2 md:px-3 xl:px-4 flex-wrap transition-all duration-300 ease-in-out dark:hover:text-black dark:bg-[#c97a0c] hover:text-white hover:bg-gradient-to-r from-[#f2991d] to-[#edc851] dark:text-white ;
  }

  .relative {
    position: relative;
  }
  
  .new-badge {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: rgb(8, 184, 245);
    color: white;
    font-size: 12px;
    font-weight: bold;
    padding: 4px 8px;
    border-radius: 50%;
    animation: pulse 1s infinite;
    z-index: 10;
  }

  @keyframes pulse {
    0% {
      transform: scale(1);
      opacity: 1;
    }
    50% {
      transform: scale(1.1);
      opacity: 0.9;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }

}

body {
  font-family: 'Cinzel', serif;
}

body {
  background-color: #222; /* Un gris más oscuro, como la piedra de Winterfell */
  color: #eee; /* Blanco hueso para el texto */
  font-family: 'Cinzel', serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: url("https://i.pinimg.com/originals/39/53/1f/39531f8f948f95f492a54366113b869d.jpg"); /* Imagen de fondo sutil */
  background-size: cover;
  background-attachment: fixed; /* Para que la imagen de fondo se mantenga fija al hacer scroll */
}

.container {
  width: 80%;
  margin: 20px auto;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  flex: 1;
  backdrop-filter: blur(5px); /* Añade un desenfoque al fondo para mejorar la legibilidad del texto */
  background-color: rgba(34, 34, 34, 0.7); /* Fondo semi-transparente para el contenedor */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); /* Sombra para resaltar el contenedor*/
}

.main-header {
  text-align: center;
  padding: 20px 0;
  border-bottom: 2px solid #666; /* Borde más claro */
  margin-bottom: 20px;
}

.main-header h1 {
  font-size: 2.5em;
  color: #d3d3d3; /* Gris claro, casi blanco */
  text-shadow: 2px 2px 4px #000000; /*Sombra al texto*/
}

.subtitle {
  font-style: italic;
  margin-top: 10px;
  color: #c0c0c0; /* Un gris un poco más oscuro para el subtítulo */
}

.main-content {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
}

.main-footer {
  text-align: center;
  padding: 10px 0;
  background-color: rgba(40, 40, 40, 0.8); /* Fondo gris oscuro semi-transparente */
  margin-top: 20px;
  border-top: 1px solid #777;
}

.main-footer p {
  font-size: 0.8em;
  color: #c0c0c0;
}
// Character
.character-card {
  background-color: rgba(50, 50, 50, 0.7);
  border: 1px solid #777;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  text-align: center; /* Centra el contenido */
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra horizontalmente */
  transition: transform 0.3s ease;
}

.character-card:hover {
  transform: translateY(-5px);
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
}

.character-name {
  color: #d3d3d3; /* Gris claro */
  margin-bottom: 10px;
  text-shadow: 1px 1px 2px #000;
}

.image-container {
  width: 200px; /* Ancho fijo para la imagen */
  height: 300px; /* Alto fijo para la imagen */
  overflow: hidden; /* Oculta el desbordamiento si la imagen es más grande */
  border-radius: 8px; /* Bordes redondeados */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  margin-bottom: 10px;
}

.character-image {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ajusta la imagen al contenedor manteniendo la proporción */
}

.character-title {
  color: #b0c4de; /* Azul acero claro */
  margin-bottom: 5px;
}

.character-family {
  color: #c0c0c0;
  font-style: italic;
}

.no-character {
  text-align: center;
  padding: 20px;
  color: #eee;
}

